.containerServicos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Inria Serif', serif;
}

.headerServicos{
    margin-top: 120px;
    width: 80%;
    height: 100%;
    font-size: 36px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #622b90;
    align-items: center;
    text-align: center;
}

.cardsServicesContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #622b90;
    padding-left: 10%;
    padding-right: 10%;
}

.cardsServices{
    width: 80%;
    font-size:18px;
    font-family: 'Inria Serif', serif;
    margin-left: 10%;
    margin-right: 10%;
}
.containerAnimation{
    display: flex;
    flex-direction: row;
    width: 80%;
    font-size: 30px;  
    color: #622b90;  
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: -80px;
}
.containerAnimation p{
    width: 50%;
}

@media(max-width:970px){
    .cardsServicesContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .containerAnimation{
        flex-direction: column;
        font-size: 32px;
        text-align: center;
        margin-top: 5%;
    }
    .containerAnimation p{
        width: 100%;
    }
}