@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@1,700&family=Zilla+Slab&display=swap');

.quemSomosContainer{
    margin-top: 10%;
     margin-bottom: 140px;
     margin: 10%;
}

.headerQuemSomos{
    display: flex;
    flex-direction: column;
    font-size: 28px;
    text-align: center;
    font-family: 'Inria Serif', serif;
    color: #622b90;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

@media(max-width:970px){
    .headerQuemSomos{
        margin-top: 45%;
        font-size: 22px;
        margin-bottom: 40%;
    }
}