@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@1,700&family=Zilla+Slab&display=swap');


.quemSomosContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headerQuemSomos{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 26px;
    text-align: center;
    font-family: 'Inria Serif', serif;
    color: #622b90;
    gap: 30px;
    align-items: center;
    margin: 0 10% -200px 10%;
}
.containerPurple{
    width: 100%;
    background-color: #622b90;
    margin: -5px 0 -5px 0;
}

.containerPurple h1, p{
    margin: 0 10% 0 10% ;
}

@media(max-width:970px){
    .headerQuemSomos{
        margin-top: 40%;
        font-size: 22px;
        margin-bottom: 0px;
    }
}