.lottieCel{
    margin: 3%;
    margin-top:20px;
    width: 30%;
    height: 100%;
    pointer-events: none;
}

@media(max-width:980px){
    .lottieCel{
        margin: 3%;
        width: 80%;
        height: 80%;
        pointer-events: none;
    }
}